body {
  font-family: arial, verdana, sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 20px 20px 0px 20px;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 15px;
}

h2 {
  font-size: 30px;
  color: #0d0d0d;
}

p {
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
}

img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px dashed #ffffff;
}

div {
  min-height: 125px;
  padding: 20px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.introduction {
  border-radius: 15px;
  margin-top: 15px;
  line-height: 2;
}

.red {
  background-color: #ff0000;
  text-align: right;
  margin-left: 50px;
  border-bottom: 2px solid #ffffff;
  border-left: 5px solid #ffffff;
}

.blue {
  background-color: #0000ff;
  text-align: left;
  margin-right: 50px;
  border-right: 5px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.blue h2,
.blue p {
  color: #c4c4c4;
}

.yellow {
  background-color: #ffff00;
  text-align: right;
  margin-left: 50px;
  border-bottom: 2px solid #ffffff;
  border-left: 5px solid #ffffff;
}

.yellow p {
  color: #707070;
}

.green {
  background-color: #00d800;
  text-align: left;
  margin-right: 50px;
  border-right: 5px solid #ffffff;
  border-top: 2px solid #ffffff;
}

footer {
  background: linear-gradient(
    to right,
    #000000 0%,
    #0000ff 25%,
    #0066ff 70%,
    #000000 100%
  );
  border: 5px solid #ffffff;
}

footer p {
  font-size: 20px;
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}